@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(29, 29, 29, 1);
}

body {
  background-color: rgba(242, 242, 244, 1);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(242, 242, 244, 1);
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 91, 91);
}

.nav {
  display: flex;
  position: relative;
  height: 78px;
  width: 100%;
  background-color: rgba(237, 237, 237, 1);
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 30px;
  display: flex;
  float: left;
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgba(29, 29, 29, 1);
}

.face {
  display: flex;
  position: relative;
  padding: 50px 70px;
  width: 100%;
  height: 600px;
  justify-content: space-between;
}

.face .text {
  box-sizing: content-box;
  width: 683px;
  height: 408px;
  margin-top: 120px;
  display: block;
}

.text .gede {
  font-size: 130px;
  margin-top: -110px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.text .cilik {
  font-size: 90px;
  font-weight: 300;
  margin-top: -90px;
}

.text .kanan {
  margin-left: 300px;
}

.text img {
  width: 148px;
  height: 128px;
  margin-left: 300px;
  margin-top: 100px;
}

.text .kata {
  font-size: 12px;
  margin-top: 100px;
  margin-left: 210px;
  margin-right: -100px;
}

.image .bulat {
  position: absolute;
  display: flex;
  width: 222px;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: 20px;
}

.image .lingkaran {
  width: 46px;
  height: 46px;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 100%;
  z-index: 2;
}

.image img {
  width: 370px;
  height: 970px;
  position: relative;
  z-index: 1;
}

/* CONTENT */

.work {
  position: relative;
  width: 100%;
  height: 800px;
  /* background-color: aqua; */
  top: 470px;
}

.work .line {
  width: 1149px;
  height: 2px;
  background-color: black;
  border-radius: 100%;
  margin-left: 100px;
}

.work .content {
  display: flex;
  position: relative;
}

.content .gariskiri {
  width: 2px;
  height: 1532px;
  background-color: black;
  margin-left: 200px;
  margin-top: -100px;
}

.content .kerjaan {
  width: 1050px;
  /* background-color: rgb(179, 179, 179); */
  padding: 50px 50px;
}

.kerjaan .judul {
  width: 403px;
  height: 170px;
  /* background-color: antiquewhite; */
}

.judul h1 {
  font-size: 90px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
}

.judul p {
  font-size: 50px;
  font-family: "Ephesis", cursive;
  margin-top: -40px;
  margin-left: 10px;
}

.kerjaan .kerjasaya {
  position: relative;
  width: 1000px;
  height: 242px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.kerjasaya .garislagi {
  width: 999px;
  height: 2px;
  background-color: black;
}

.kerjasaya .isikerja {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.isikerja .judull h1 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 40px;
}

.isikerja .informasi {
  position: relative;
  display: flex;
  width: 348px;
  height: 220px;
  justify-content: space-between;
}

.informasi .tanggal {
  margin-top: 10px;
  width: 116px;
  height: 116px;
  border: 2px solid black;
  padding: 10px;
}

.tanggal p {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
  font-weight: 900;
}

.tanggal span {
  font-size: 20px;
  font-weight: 800;
}

/* ABOUT */

.about {
  position: relative;
  width: 100%;
  height: 1073px;
  background-color: rgba(237, 237, 237, 1);
  top: 1200px;
  padding: 30px;
}

.about .title {
  width: 840px;
  height: 152px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.intro h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
}

.intro span p {
  font-size: 70px;
  font-family: "Ephesis", cursive;
  margin-top: -27px;
  margin-left: 45px;
}

.title .branding {
  width: 124px;
  height: 105px;
  border: 6px solid black;
  box-sizing: border-box;
  padding: 4px;
}

.branding p {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 33px;
  margin-top: 12px;
  font-weight: 800;
}

.about .penjelasan {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1034px;
  height: 600px;
  /* background-color: rgb(0, 75, 75); */
  margin-top: 50px;
  margin-left: 130px;
}

.penjelasan .konten {
  width: 310px;
  height: 600px;
  position: relative;
}

.konten .deskription {
  width: 193px;
  height: 92px;
  /* background-color: aliceblue; */
  margin-top: 28px;
  margin-left: 58.5px;
}

.deskription h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

.deskription p {
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: -10px;
}

.about .dekor {
  width: 1135px;
  height: 188px;
  /* background-color: rgb(0, 255, 234); */
  margin-left: 90px;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.dekor div p {
  font-size: 150px;
  font-family: "Josefin Sans", sans-serif;
}

.dekor .huruf p {
  font-size: 150px;
  font-weight: 100;
}

/* FOOTER */

.foot {
  position: relative;
  width: 100%;
  height: 572px;
  margin-top: 1250px;
}

.foot .gariz {
  width: 1280px;
  height: 2px;
  background-color: black;
  border-radius: 100%;
  margin-left: 40px;
}

.foot .penutup {
  display: flex;
  position: relative;
  margin-top: 67px;
  justify-content: space-between;
}

.penutup .kirikiri {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  width: 910px;
  height: 503px;
  background-color: rgba(29, 29, 29, 1);
}

.kirikiri p {
  color: aliceblue;
  font-size: 150px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  line-height: 130px;
  text-align: center;
}

.penutup .kanankanan {
  width: 452px;
  height: 503px;
  /* position: relative; */
}

.kanankanan .kontak {
  position: relative;
  width: 217px;
  height: 67px;
  /* background-color: azure; */
  margin-top: -80px;
  margin-left: 15px;
}

.kontak p{
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: aliceblue;
  line-height: 7px;
}

.kontak .logo{
  position: relative;
  display: flex;
}

.logo i{
  width: 20px;
  height: 20px;
  margin-right: 25px;
  color: aliceblue;
  margin-top: -4px;
}